body{
  display: flex;
  margin: 15vmax;
  position: relative;
  top: 50%;
  left: 10%;
  /* transform: translate(-50%,-50%); */
  background-color: #2a9d8f;
  text-align: center
}

.progress{
  position: relative;
  height: 1vmax;
  width: 50vw;
  border: 5px solid #f4a261;
  border-radius: 15px;
}
.progress .color{
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 1vmax;
  border-radius: 15px;
  animation: progres 4s infinite linear;    
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};